@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola, Bienvenido a la solucion</h1>
</div>

<div style="text-align:center;">
    <h2>Te invito a revisar tambien este otro proyecto un poco mas complejo</h2>
    <h3>Esta desarrollado con una arquitectura cliente servidor con Angular y .NET 8.0</h3>
    <h3>Aqui se usa mas la entidad-relación</h3>
    <div>
        <a href="https://prueba-frontend-beige.vercel.app">prueba-frontend-beige.vercel.app</a>
    </div>
</div>